<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Hello Thymeleaf</title>
</head>
<body>

<h1>上映中作品</h1>
<div  class="container">
<table class="table">
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>

        <td>
            <form th:action="@{/movies/buy}" metho="get">
                <input type="submit" name="form" value="購入"/>

            </form>
        </td>

    </tr>

</table>
</div>
</body>
</html>