<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>IE12 シネマズ</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse bg-inverse">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">IE12シネマズ</a>
    </nav>
</div>
</body>
</html>